<% provide(:title, "雁栖饭店") %>
<!DOCTYPE html>
<html>
<head>
<title> <%= yield(:title) %>欢迎您</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application', media: 'all',
'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "雁栖饭店欢迎您", '#', id: "logo" %>
<nav>
<ul class="nav navbar-nav navbar-right">
<li><%= link_to "首页", '#' %></li>
<li><%= link_to "酒店介绍", '#' %></li>
<li><%= link_to "舒适客房", '#' %></li>
<li><%= link_to "特色美食", '#' %></li>
<li><%= link_to "周边景点", '#' %></li>
<li><%= link_to "联系我们", '#' %></li>
<li><%= link_to "登录", '#' %></li>
<li><%= link_to "注册", '#' %></li>
</ul>
</nav>
</div>
</header>
<div class="container">
  
<%= yield %>

</div>
</body>
</html>